<%- include('header') %>
<%- include('navbar') %>


<div class="page=headings center e404">
<h1>404 Error.</h1>
<h1>Uh Oh.</h1>
<h2> That page can't be found.</h2>
</div>

<div class="center">
        <a href="/home"><button class='btn btn-primary'>Return Home</button></a>
        <a href="/signin"><button class='btn btn-light'>Sign In/Sign Up</button></a>
        
</div>



