<%- include ('header') %>

<header id="landing-banner">
        <h1>GymGenie</h1>
        <h2><em>A simpler way to track your fitness goals</em></h2>
        <a href="/signup"><button class="btn btn-dark">Get Started</button></a>
        <a href="/signin"><p>Already have an account?</p></a>
</header>
<section id="tracking-feature">
        <h2>Track water, calories, and exercise.</h2>
        <img class="img-border" src="/images/tracking.png">
        <h2>In <strong>seconds</strong></h2>
</section>
<section id="workout-feature">
        
</section>






<%- include ('footer') %>