<%- include ('header') %>

<header id="landing-banner">
        <h1>GymGenie</h1>
        <h2><em>A simpler way to track your fitness goals</em></h2>
        <a href="/signup"><button class="btn btn-dark">Get Started</button></a>
        <p>Already have an account?</p>
</header>






<%- include ('footer') %>