<%- include ('header') %>

<header id="landing-banner">
        <h1>GymGenie</h1>
        <h2><em>A simpler way to track your fitness goals</em></h2>
        <div class="login-signup-cta">
                <a href="/signup"><button class="btn btn-dark">Get Started</button></a>
                <a href="/signin"><p>Already have an account?</p></a>
        </div>

</header>
<section id="tracking-feature">
        <h2>Track water, calories, and exercise in seconds.</h2>

        <img src="/images/tracking.png">
</section>
<section id="workout-feature">
        <h2>Build Custom Workouts</h2>
        <img src="/images/builder.gif">
</section>
<section id="log-feature">
        <h2>Record your work, see your progress 💪</h2>
</section>






<%- include ('footer') %>