<%- include('header') %>

<form class="signin-form center" action="/signIn" method="post">
        <h1>GymGenie</h1>
        <h2>Sign In</h2>
        <div class="mb-3">
                <label for="userName" class="form-label">Username</label>
                <input type="Text" class="form-control" name="userName" placeholder="eg: HotDad419-68">
        </div>
        <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" name="password">
        </div>
        <button class="btn btn-primary signin-button" type="submit">Sign In</button>
</form>

<a href="/signup"><button class="btn btn-light return-signup-button" id="return-to-signup">Create an Account</button></a>




<%- include('footer') %>