<%- include('header') %>
<%- include('navbar') %>
<div class="row">
        <div class="col-lg-7 exercise-search">
                <h1 class="page-headings">Let's build a custom workout</h1>
                <form action="showWorkouts" method="post" id="dynamicExercises">
                        <label for="muscle">Choose a Muscle to See Exercises</label>
                        <select id="muscle" name="muscle" class="form-control exercise-dropdown">
                                <option value=""></option>
                                <option value="chest">Chest</option>
                                <option value="biceps">Biceps</option>
                                <option value="triceps">Triceps</option>
                        </select>
                        <button id="showWorkoutsBtn" class="btn btn-primary" type="submit">See Exercises</button>
                </form>
                
                <form action="/test" method="post">
                        <div id="exerciseList">
                                <!-- Exercises Populate Here -->
                        </div>
                        <button id='testButton' type="submit">Test</button>
                </form>
        </div>

        <div class="col-lg-5">
                <form>
                        <div id="workoutBuilder">
                                <h3>Workout Builder</h3>
                                
                        </div>
                </form>
        </div>

</div>



<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="workouts.js"></script>
<%- include('footer')%>