body {
    background-color: rgb(248, 248, 248);
    color: black;
    font-family: montserrat;
}

.btn-light {
    border: 1px solid black;
}

.bold {
    font-weight: 700;
}

.center {
    text-align: center;
}

/* Signup */

.newUserForm {
    width: 70%;
    padding: 3% 0 0 5%;
}

.inches {
    margin-top: 8px;
}

/* Signin */

.signin-form {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
}

#return-to-signup {
    font-size: 1rem;
    margin: 25px auto;
    display: block;
}

/* Navbar */

.navbar {
    margin: 0;
    padding: 0;
    width: 101%;
}


.navbar a {
    color: whitesmoke!important;
}

/* Homescreen */
h1 {
    font-family: "Zilla Slab", serif;
    font-size: 2.7rem;
    font-weight: 900;
}

#dashboard {
    position: relative;
}

.page-headings {
    padding: 3% 0 0 5%;
}

#saved-workouts {
    height: 100vh;
    border: 2px solid black;
    border-style: hidden solid hidden solid;
    background-color: #353030;
    overflow-y: scroll;
    color: whitesmoke;
    scrollbar-color: dark;
}

#saved-workouts::-webkit-scrollbar{
    background-color:#464242;
    width: 10px;
}

#saved-workouts::-webkit-thumb{
    background-color:#838383;
}

.toggle-button {
    display: inline;
    z-index: 1;
    border: 1px solid #000000;
    position: absolute;
    right: 0;
    padding: 5px 2px;
    margin: 5px;
}

.goals {
    margin: 30px 20px;
}

.donut {
    margin: 10px auto;
}

.donut-div .btn{
        margin-left: auto;
        margin-right: auto;
        display: block;
}

.log-para {
    padding: 5px 0;
    margin: 0;
}

.log-input {
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    margin: 5px;
    border: 1px solid black;
}

.goals h2 {
    width: auto;
    margin-left: auto;
    margin-right: auto;
    word-wrap: normal;
}

.collapsed-div {
    display: none!important;
}

#saved-workouts h3 {
    padding-top: 10px;
    font-size: 1.8rem;
}

#saved-workouts .btn-primary, #saved-workouts2 .btn-primary {
    width: 90%;
    margin-bottom: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.delete-workout-button{
        font-size: .5rem;
        margin: 10px;
        padding: 0;
        background-color: rgb(248, 248, 155)!important;
        position: absolute;
        right: 0;
        bottom: 20px;
        opacity: 50%;
}

.delete-workout-button:hover{
        padding: 4px;
        font-size: .9rem;
        z-index: 1;
        background-color: rgb(252, 119, 67)!important;
        opacity: 1;
}

hr {
    width: 15%;
    border-style: dotted none none none;
    border-width: 10px;
    margin: 20px auto;
}

.dashboard-workout {
    position: relative;
}

h4 {
    margin-left: 15px;
    padding-top: 0;
}

.exercise-list {
    text-align: left;
}

/* Goals Page */

#water-goal {
    background: rgb(0, 255, 234);
    background: linear-gradient(
        175deg,
        rgba(0, 255, 234, 1) 26%,
        rgba(255, 230, 175, 1) 74%
    );
    border-radius: 1%;
    border: 1px solid black;
    padding: 2% 0 2% 5%;
    margin-bottom: 1%;
}

#exercise-goal {
    background: rgb(255, 179, 0);
    background: linear-gradient(
        175deg,
        rgba(255, 179, 0, 1) 26%,
        rgba(173, 173, 173, 1) 74%
    );
    border-radius: 1%;
    border: 1px solid black;
    padding: 2% 0 2% 5%;
    margin-bottom: 1%;
}

#calorie-goal {
    background: rgb(55, 198, 19);
    background: linear-gradient(
        175deg,
        rgba(55, 198, 19, 1) 26%,
        rgba(173, 173, 173, 1) 74%
    );
    border-radius: 1%;
    border: 1px solid black;
    padding: 2% 2% 2% 5%;
    margin-bottom: 1%;
}

.goal-div p {
    padding: 3px;
}

#changeCalories,
#changeExercise,
#changeWater {
    padding-top: 20px;
}

.changeButton {
    width: 50%;
    margin: 20px;
}

.qButton {
    margin-top: 20px;
    width: auto;
}

#exerciseList {
    font-size: 1.2rem;
}

#workoutBuilder {
    height: 100vh;
    width: 30%;
    border: 2px solid black;
    border-style: hidden solid hidden solid;
    background-color: rgb(53, 48, 48);
    color: whitesmoke;
    position: absolute;
    right: 0;
    overflow-y: scroll;
}

@media (max-width: 768px){
        #workoutBuilder{
                width: 100%;
                margin-top: 25px;       
        }       
}
@media (max-width: 991px){
        #saved-workouts{
                height: auto;
        }
        .dashboard-workout ul{
                display: inline-block;
                margin-left: auto;
                margin-right: auto;
                width: 300px;
                padding-left: 60px;
        }
        .start-workout-button { 
                display: block;
                margin-right: auto;
                margin-left: auto;
        }
        #saved-workouts .btn-primary {
                width: 300px;
        }
}

#workoutBuilder ul {
    display: inline-block;
    text-align: left;
    margin-right: 20%;
}

#workoutBuilder h3 {
    padding-top: 5%;
}

.exercise-search {
    padding-left: 5%;
}

.exercise-dropdown {
    margin-bottom: 1%;
}

#exerciseList {
    margin: 10px;
}

.builder-button {
    width: 75%;
    background-color: rgb(166, 229, 240)!important;
}

.clear-button {
    margin: 10px;
    opacity: 75%;
}

.workout-name{
        width: 75%;
        margin-bottom: 10px;
        text-align: left;
}

.workout-name-div{
        text-align: left;
        margin-left: 18%;
}

.log-workout-div h2{
        margin-left: 200px;
        font-size: 1.5rem;
}

#enter-workout{
        margin: 50px 10%;
}

#enter-workout h4{
        font-weight: 900;
        font-size: 1.7rem;
}

#saved-workouts2 {
        position: absolute;
        right: 0;
        top: 0;
        padding-bottom: 50vh;
        border: 2px solid black;
        border-style: hidden solid hidden solid;
        background-color: rgb(53, 48, 48);
        overflow-y:initial;
        color: whitesmoke;
        z-index: -1;
    }

.log-input-div{
    position: relative;
}

#saved-workouts2 h3{
        padding-top: 50px;
}

#saved-workouts2 .btn-primary{
    width: 200px;
}

.log-input{
        width: 60px;
        margin: 3px 0 3px auto;
        display: inline-block;
}

.log-input-div{
        margin-top: 10px;
        text-align: right;
}

.log-col{
    padding-left: 30px;
}

.log-exercise-name{
    padding-left: 20px;
}

.submit-log-btn{
width: 40%;
margin: 20px;
}

.log-col label{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

.log-col input{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

#logged-workouts-display{
    background-color: rgb(53, 48, 48);
    border: 1px solid black;
    position: relative;
}

#logged-workouts-display h4{
    color: rgb(252, 248, 248);
    padding: 20px;
    font-size: 1.8rem;
}

.logged-workout{
    margin: 15px 30px 30px 15px;
    line-height:.8;
    border: 1px solid black;
    padding: 10px;
    background-color: rgb(252, 248, 248);
    color: rgb(53, 48, 48);
    border-radius: 5%;
    display: inline-block;
    max-width: 320px;
}

.logged-exercise-para{
    padding: 4px 20px;
}

.logged-workout-heading{
    font-size: 1.3rem;
}

.logged-workout-date{
    font-size: .8rem;
}

.display-title p{
    color: rgb(252, 248, 248);
    display:block;
    position: absolute;
    top: 20px;
    right: 40px; 
    opacity: 80%;
}

.display-title p:hover{
    color: rgb(202, 198, 198);
    opacity: 80%;
}

.logged-workouts-row{
    margin: 0 auto!important;
    width: 85%;
}

.signin-form h1{
    font-size: 3rem;
    margin-bottom: 50px;
    margin-top: 50px;
    font-family: montserrat;    
    font-weight: 400;
}

.previous-workout{
    line-height: .8;
    margin: 25px;
    border-radius: 1%;
    border: 1px solid black;
    background-color:#353030;
    color: whitesmoke;
    padding: 25px;
}

a{
    text-decoration: none;
}

.e404{
    margin-top: 50px;
}

.barbell-pic{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.have-account-btn{
    margin: 20px 0;
}

#landing-banner{
    background-image: url("/images/background.png");
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 580px;
    text-align: center;
    padding-top: 100px;
}

#landing-banner h1{
    font-size: 4rem;
    font-family: montserrat;
    font-weight: 700;   
}

#landing-banner h2{
    font-weight: 700;
    font-size: 2rem;
    font-family: montserrat;    
}

#landing-banner .btn{
    margin-top: 100px;
    margin-bottom: 20px;
    font-size: 1.7rem;
}

#landing-banner p{
    color: black;
}

#landing-banner p:hover{
    opacity: 75%;
}

#tracking-feature{
    text-align: center;
    padding: 20px;
    background: rgb(252, 248, 248);
}

#tracking-feature h2{
    padding: 20px;
}

#workout-feature h2{
    padding: 20px;
}

#tracking-feature img{
    width: 80%;
    border: 1px solid white;
    border-radius: 10px;
}

#workout-feature{
    text-align: center;
    padding: 25px;
    color: black;
    background: rgb(168,225,255);
    background: linear-gradient(186deg, rgba(168,225,255,1) 26%, rgba(14,146,117,1) 74%);
}

#workout-feature img{
    border: 1px solid white;
    border-radius: 10px;
    width: 30%;
}

.login-signup-cta{
    padding: 5%;
}

#log-feature{
    text-align: center;
    padding: 20px;
    background: rgb(252, 248, 248);
}

#log-feature h2{
    padding: 20px;
}

#log-feature img{
    width: 90%;
    margin: 10px;
    border: 1px solid white;
    border-radius: 10px;
}

#log-feature .row{
    display: flex;
    align-items: center;
}

#cta{
    text-align: center;
    padding: 25px;
    color: black;
    background: rgb(168,225,255);
    background: linear-gradient(186deg, rgba(168,225,255,1) 26%, rgba(14,146,117,1) 74%);
}

#cta h2{
    margin-bottom: 60px;
}

.cta-btn{
    margin: 10px;
    font-size: 1.7rem;
    width: auto;
}

@media(max-width: 880px) {
    #saved-workouts2 {
        position: relative;
        width:100%;
    }
    .log-workout-div h2{
        display: none;
    }
}

@media(min-width: 576px){
    .log-input-div p{
        position: relative;
        top: 30px;
    }
}
@media(max-width: 576px){
    .log-input-div{
        position: relative;
        right: 20%;
    }
    .log-input{
        display: inline-block;
    }
    .display-title p{
        display: none!important;
    }
    #landing-banner h1{
        font-size: 3rem;
    }
    #landing-banner h2{
        font-size: 1.8rem;
    }
    #tracking-feature img{
        width: 100%;
    }
    #workout-feature img{
        width: 60%;
    }
}