body{
        background-color: black;
        color: white;   
}

.newUserForm{
        width: 70%;
        padding: 2%;
}

.pw-warning{
        font-size: 8px;
        color: yellow;
}

.inches{
        margin-top: 8px;
}

.signin-form{
        text-align: center;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10%;
}

#return-to-signup{
        font-size: 10px;
}

.btn-light{
        margin-top: 10px;
}

.navbar{
        margin: 0;
}